<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.overture.ide.vdmrt.debug.launchConfigurationType">
<intAttribute key="vdm_debug_session_id" value="1"/>
<booleanAttribute key="vdm_launch_config_create_coverage" value="true"/>
<booleanAttribute key="vdm_launch_config_enable_logging" value="false"/>
<stringAttribute key="vdm_launch_config_memory_option" value=""/>
<stringAttribute key="vdm_launch_config_remote_control_class" value=""/>
<booleanAttribute key="vdm_launch_config_remote_debug" value="false"/>
<stringAttribute key="vdm_launch_config_project" value="PacemakerRT"/>
<stringAttribute key="vdm_launch_config_expression" value="new World(&quot;tests/scenarioGoodHeart.arg&quot;,&lt;DOO&gt;).Run()"/>
<booleanAttribute key="vdm_launch_config_static_method" value="false"/>
<stringAttribute key="vdm_launch_config_default" value="World"/>
<stringAttribute key="vdm_launch_config_method" value="Run()"/>
<stringAttribute key="vdm_launch_config_module" value="World(&quot;tests/scenarioGoodHeart.arg&quot;,&lt;DOO&gt;)"/>
<booleanAttribute key="vdm_launch_config_enable_realtime_logging" value="true"/>
<booleanAttribute key="vdm_launch_config_enable_realtime_time_inv_checks" value="false"/>
</launchConfiguration>