td, p {
    text-align: left;
    font-size: 1rem;
}

table {
    white-space: pre-wrap;
}

p {
    margin-top: 10px;
}

table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

.mainrowcell {
    cursor: pointer;
    padding: 6px;
    border-top: 1px solid rgb(91, 91, 91);   
}

.subrowcell {
    padding-top: 2px;
    padding-left: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(91, 91, 91);
    border-left: 1px solid rgb(91, 91, 91);
    border-right: 1px solid rgb(91, 91, 91);
}

th {
    text-align: left;
    font-size: 1.2rem;
}

.subrow, button, .clickableheadercell {
    cursor: pointer;
}


.signcell {
    text-align: right;
    font-size: 0.9rem;
    width: 1%;
}

.expandPOsBtn, .hideProvedPosBtn {
    cursor: pointer;  
    font-size: 1rem;
    margin-top: 6px;
    margin-left: 6px;
    margin-bottom: 6px; 
}