th, td {
    text-align: left;
    font-size: 1rem;
}

table {
    width: 100%;
}

.mainrowcell {
    padding: 6px;
    border-top: 1px solid rgb(91, 91, 91);
}

.subrowcell {
    padding-bottom: 20px;
    padding-left: 15px;
}

.mainrow {
    cursor:pointer;
}

.mainrow:hover {background-color: #000000;}