.git
.github/**
.vs
.vscode
documentation
drawio
out/test/**
src
test
vdm_test_files
.gitignore
tsconfig.json
webpack.config.js
*.vsix
*.log



# withWebpack:# node_modules
# out

# /withWebpack


# withoutWebpack:dist

# /withoutWebpack