.git
.github/**
.gitignore
.vs
.vscode
.vscode-test
cmd
documentation
drawio
out/test/**
src
test
tsconfig.json
vdm_test_files
webpack.config.js
*.vsix
*.log



# withWebpack:
node_modules
out


# /withWebpack


# withoutWebpack:
# dist


# /withoutWebpack