/* SPDX-License-Identifier: GPL-3.0-or-later */

.button {
    border: 0px;
    margin-top: 15px;
    margin-left: 11px;
    margin-bottom: 5px;
}

b,
select,
button,
table,
th,
td {
    font-family: var(--vscode-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--vscode-editor-font-size);
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-editor-background);
}

table,
td,
th {
    text-align: left;
    border: 1px solid;
    padding-left: 6px;
    padding-right: 6px;
}

table {
    white-space: pre-wrap;
    border-collapse: collapse;
}

.infoContainer {
    padding-top: 10px;
}

th {
    font-weight: 800;
}

.statuscell {
    text-align: center;
}
