ul, ol{
    list-style-type: none;
    cursor: pointer;
    text-align: left;
    font-size: 1.1rem;
}

.outerOL{
    padding: 0;
}

table {
    border-collapse: collapse;
    margin-left: 1.2rem;
    margin-top: 5px;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid;
    padding: 5px;
    text-align: left;
}

td {
    font-size: 1rem;
}

th {
    font-size: 1.2rem;
}

details {
    display: inline-block;
}

label {
    font-size: 0.9rem;
}

summary{
    outline: none;
}

.menu
{
    width: 150px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    position: fixed;
    display: none;
    background-color: inherit;
}

.menu-item:hover
{
    background-color: #6CB5FF;
    cursor: pointer;
}